.profile-section {
	background: radial-gradient(#fff, #ffdfd);
	padding: 20px;
}

.is-right-aligned {
	float:right;
}

.box-form {
	border-left: #2a93d5 solid 2px;
	padding: 0.42em;
	width: 100%;
}

.peach-tile {
	background-color: #fff;
}

.add-icon {
	text-align: right;
	margin: 0 0 15px 0;
}
.form-title {
	text-align: left;
	color: #351c4d;
	font-family: georgio;
	font-weight: 800;
	font-size:1.3em;
}
.input-list {
	text-align: left;
}

.tag:not(body).rateit-1 {
	background: linear-gradient(to right,#ffdd57 10%, #f5f5f5 90%);
}

.tag:not(body).rateit-2 {
	background: linear-gradient(to right,#ffdd57 20%, #f5f5f5 60%);
}
.tag:not(body).rateit-3 {
	background: linear-gradient(to right,#ffdd57 30%, #f5f5f5 40%);
}

.tag:not(body).rateit-4 {
	background: linear-gradient(to right,#ffdd57 40%, #f5f5f5 20%);
}

.tag:not(body).rateit-5 {
	background: linear-gradient(to right,#ffdd57 59%, #f5f5f5 1%);
}


/*
Styling of inline form elements
*/


.inline-textarea {
	width:100%;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	font-size: inherit;

}
.inline-textarea:focus {
	outline: none;
}
.inline-textarea::placeholder {
	opacity: 0.3;
}

.inline-input {
	border-bottom: dashed 1px;
	border-top: none;
	border-right: none;
	border-left: none;
	margin: 0 4px;
	padding: 0 2px;
	font-size: inherit;
}

.inline-input:focus {
	outline: none;
	border-bottom-color: 351c4d;
	border-bottom-width: 2px; 
}
.inline-input::placeholder {
	opacity: 0.3;
}
.xsm-inline-input {
	width: 28px;
}

.sm-inline-input {
	width: 42px;
}

.mid-inline-input {
	width: 85px;
}

.lg-inline-input {
	width: 120px;
}
.midlg-inline-input {
	width: 175px;
}
.xlg-inline-input {
	width: 240px;
}

.text-strike {
	text-decoration: line-through;
}
